
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Nuestros Aliados</h2>
                    <h3 class="section-subheading text-muted">Marcas confiables que trabajan con Nissan para brindarte la mejor experiencia.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../public/vendor/template/assets/img/team/1.png" alt="..." />
                            <h4>Bosch</h4>
                            <p class="text-muted">Sistemas de Seguridad</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../public/vendor/template/assets/img/team/2.jpg" alt="..." />
                            <h4>Continental</h4>
                            <p class="text-muted">Componentes Automotrices</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../public/vendor/template/assets/img/team/3.jpg" alt="..." />
                            <h4>Michelin</h4>
                            <p class="text-muted">Neumáticos Premium</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">En Nissan creemos en trabajar con los mejores aliados de la industria. Nuestras asociaciones estratégicas con marcas líderes nos permiten ofrecerte vehículos de calidad superior, seguridad avanzada y tecnología de punta.</p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <style>
                .img-brand {
                    max-width: 180px;
                    max-height: 140px;
                    width: 80%;
                    height: auto;
                }
            </style>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../public/vendor/template/assets/img/logos/datsun.jpg" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../public/vendor/template/assets/img/logos/ranault.png" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../public/vendor/template/assets/img/logos/dongfeng.png" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../public/vendor/template/assets/img/logos/alpine.png" alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div>